{% extends "teammate/index.html" %}
{% load staticfiles %}

{% block content %}
<!-- <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
 -->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script> -->
  <script src="{% static "js/socket.io-1.2.1.js" %} "></script>
  <script>
  var socket = io.connect('http://raidboss.hanchakra.webfactional.com:11903/');
  //var socket = io.connect('http://216.185.102.21:13997/');
  console.log('yohoooo!!!!!!')

   socket.on('whoshere', function(msg){
        console.log('...........................')
        console.log(msg);
        // console.log('message: ' + msg);
        // io.emit('chat message', msg);

        var video = document.createElement("video");
        video.id = 'video'+msg;
        $('#users').append('<button class="ui button callHim" videoId="'+msg+'"><i class="circular user icon"></i>'+msg+'</button>');
         $('#videoCollect').append(video);

    });

  $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
  });
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });


  </script>


<div id="userId"></div>
<div id="videoCollect"></div>
<div>
  <input type="text" id="callToWho">
  <div id="calling">Calling</div>
</div>
<div id="users"></div>
<!-- <video  autoplay></video>
<video  autoplay></video> -->

<script>


    var peer = new Peer({key: 'uts8vpuagmrc0udi'});
    var pId = null;
    peer.on('open', function(id) {
      console.log('My peer ID is: ' + id);
      $('#userId').html(id);
      socket.emit('users', id);
    });

    peer.on('connection', function(conn) {
      conn.on('data', function(data){
        // Will print 'hi!'
        console.log(data);
      });
    });
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;


        $('body').on('click','.callHim',function(){
            var videoId = $(this).attr('videoId');
            // callUser(videoId);
            var toUser = videoId; //'{{peer_id}}';
            callTo(toUser);

        })


        
   

        peer.on('call', function(call) {
          navigator.getUserMedia({video: true, audio: true}, function(stream) {
            call.answer(stream); // Answer the call with an A/V stream.
            call.on('stream', function(remoteStream) {
              // Show stream in some video/canvas element.
                var video = document.querySelector('video');
                video.autoplay=true;
                video.src = window.URL.createObjectURL(remoteStream);
            });
          }, function(err) {
            console.log('Failed to get local stream' ,err);
          });
        });

     function callTo(toUser){
          navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
          navigator.getUserMedia({video: true, audio: true}, function(stream) {
            var call = peer.call(toUser, stream);
            call.on('stream', function(remoteStream) {
              // Show stream in some video/canvas element.
                  var video = document.querySelector('video');
                  video.autoplay = true;
                  video.src = window.URL.createObjectURL(remoteStream);
            });
          }, function(err) {
            console.log('Failed to get local stream' ,err);
          });
        }

</script>
    <div id="container" style="min-height:600px;">
        
    </div>




        </div><!-- end of container div -->
        

{% endblock %}