{% extends "teammate/index.html" %}
{% load staticfiles %}

{% block content %}
<script src="http://cdn.peerjs.com/0.3/peer.js"></script>

<div id="userId"></div>
<div>
  <input type="text" id="callToWho">
  <div id="calling">Calling</div>
</div>

<video autoplay></video>

<script>
    var peer = new Peer({key: 'uts8vpuagmrc0udi'});

    var uid = '';
    peer.on('open', function(id) {
      console.log('My peer ID is: ' + id);
      uid = id;
    });
    var conn = peer.connect(uid);
    conn.on('open', function(){
      conn.send('hi!');
    });

    conn.on('data', function(data) {
      console.log('Received', data);
    });


    // $('#calling').click(function(){
    //   var toNum =$('#callToWho').val();
    //   callTo(toNum);

    // })

    var toUser = '{{peer_id}}';

    callTo(toUser);
    function callTo(toUser){

      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
      navigator.getUserMedia({video: true, audio: true}, function(stream) {
        var call = peer.call(toUser, stream);
        call.on('stream', function(remoteStream) {
          // Show stream in some video/canvas element.
              var video = document.querySelector('video');
              video.src = window.URL.createObjectURL(remoteStream);
        });
      }, function(err) {
        console.log('Failed to get local stream' ,err);
      });
    }


</script>
    <div id="container" style="min-height:600px;">
        
    </div>




        </div><!-- end of container div -->
        

{% endblock %}