{% extends "teammate/index.html" %}
{% load staticfiles %}

{% block content %}
<script src="http://cdn.peerjs.com/0.3/peer.js"></script>



<div id="userId"></div>
<video autoplay></video>

<script>
// $(function(){

//     //var csrftoken=$.cookie('csrftoken');
//     $.ajaxSetup({
//       data: {csrfmiddlewaretoken: csrftoken },
//     });

// })
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');






    var peer = new Peer({key: 'uts8vpuagmrc0udi'});


    peer.on('open', function(id) {
      console.log('My peer ID is: ' + id);
      $('#userId').html(id);

      $.post('/save_peer_code/',{'id':id,'csrfmiddlewaretoken',csrftoken},function(data){
        console.log(data);
      })
      .error(function(data){
        console.log(data);
      })

    });
    peer.on('connection', function(conn) {
      conn.on('data', function(data){
        // Will print 'hi!'
        console.log(data);
      });
    });

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
        peer.on('call', function(call) {
          navigator.getUserMedia({video: true, audio: true}, function(stream) {
            call.answer(stream); // Answer the call with an A/V stream.
            call.on('stream', function(remoteStream) {
              // Show stream in some video/canvas element.
                var video = document.querySelector('video');
                video.src = window.URL.createObjectURL(remoteStream);
            });
          }, function(err) {
            console.log('Failed to get local stream' ,err);
          });
        });

  
</script>
    <div id="container" style="min-height:600px;">
        
    </div>




        </div><!-- end of container div -->
        
{% endblock %}