{% load staticfiles %}
<html>
<head>


	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="{% static "js/typeahead.js" %} "></script>
<script src="http://cdn.peerjs.com/0.3/peer.js"></script>



    <link rel=stylesheet type="text/css" href="{% static "css/style.css" %} " href="external-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="{% static "js/semantic/elements/header.min.css" %} " href="external-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="{% static "js/semantic/elements/segment.min.css" %} " href="external-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="{% static "js/semantic/collections/menu.min.css" %} " href="external-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="{% static "js/semantic/collections/grid.min.css" %} " href="external-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="{% static "js/semantic/elements/divider.min.css" %} " href="external-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="{% static "js/semantic/elements/icon.min.css" %} " href="external-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="{% static "js/semantic/elements/button.min.css" %} " >
    <link rel="stylesheet" type="text/css" href="{% static "js/semantic/collections/form.min.css" %} " >
    <link rel="stylesheet" type="text/css" href="{% static "js/semantic/collections/message.min.css" %} " >
    <link rel="stylesheet" type="text/css" href="{% static "js/semantic/collections/table.min.css" %} " >
    <link rel="stylesheet" type="text/css" href="{% static "js/semantic/css/semantic.min.css" %} " >


</head>
<body>

{% block menu %}

<div class="ui grid">
	<div class="sixteen wide column">
		<div class="ui menu">

		  <a class="active item" href='/crm'>
		    <i class="bolt icon red big"></i> RAID A BOSS
		  </a>

		  <a class="item" href='/crm/search/teacher/'>
		    <i class="male icon big green"></i> Find Teammate
		  </a>
		  <a class="item" href='/crm/search/student/'>
		    <i class="exclamation icon big orange"></i> Post Quest
		  </a>

		</div>
	</div>
</div>
{% endblock %}



<div id="userId"></div>
<video autoplay></video>

<script>
    var peer = new Peer({key: 'uts8vpuagmrc0udi'});


    peer.on('open', function(id) {
      console.log('My peer ID is: ' + id);
      $('#userId').html(id);
    });
    peer.on('connection', function(conn) {
      conn.on('data', function(data){
        // Will print 'hi!'
        console.log(data);
      });
    });



        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
        peer.on('call', function(call) {
          navigator.getUserMedia({video: true, audio: true}, function(stream) {
            call.answer(stream); // Answer the call with an A/V stream.
            call.on('stream', function(remoteStream) {
              // Show stream in some video/canvas element.
                var video = document.querySelector('video');
                video.src = window.URL.createObjectURL(remoteStream);
            });
          }, function(err) {
            console.log('Failed to get local stream' ,err);
          });
        });


</script>
    <div id="container" style="min-height:600px;">
        
    </div>




        </div><!-- end of container div -->
        

</body>
</html>