{% extends "teammate/index.html" %}

{% load staticfiles %}



{% block content %}

<style>
.toLeft input, .toLeft select{
  display:inline-block;
  width:70px !important;
}

</style>

           <section class="content">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">



                            <!-- POST -->
                            <div class="post">
                                <form class="form newtopic" method="post">
                                    <div class="postinfotop">
                                        <h2><i class="big green bullhorn icon"></i> Recruit Teammate</h2>
                                    </div>
                                </form>
                                    <!-- acc section -->
                                    <div class="accsection">
                                
<div class="ui form"  style="padding:20px;">
	<form method="POST" action="/post_verify/">{% csrf_token %}

	<table class="ui table segment">

		<thead>
			<td width="20%"></td>
			<td width="80%"></td>
		<thead>
		{{topic_form}}

		<tr>

			<td>Dungeon/Instance/Boss
			</td>
			<td>
				<div>
					<select id="Instance">
						<option value="x">-Please Select Instance-</option>
					</select>
					<input type="hidden" name="Instance">
				</div>
			</td>
		</tr>
		<tr>

			<td>Looking For
			</td>
			<td>
			<br>
			<div>
				{{require_form.as_p}}
			</div>
<!-- 				<div id="AttrDisplay">
					
					{{ items_forms.management_form }}
					<div id="items-form-container">
					    {% for item_form in items_forms %}
					        <div class="toLeft" id="item-{{ forloop.counter0 }}">
					        	<b>Tank</b>
					            {{ item_form.id }}
					            {{ item_form.tank }}
					            <b>Healer</b>
					            {{ item_form.id }}
					            {{ item_form.healer }}

					            <b>Dpser</b>
					           {{ item_form.id }}
					           {{ item_form.dpser }}
					           <b>Teammate</b>
					           {{ item_form.id }}
					           {{ item_form.teammate }}
					            {#  {% crispy item_form %} #}
					        </div>
					    {% endfor %} -->
					    <!-- or for crispy forms -->
<!-- 					</div>
					<a href="#" id="add-item-button" class="btn btn-info add-item">Add New</a>
					</div>
 -->
				<div id="AttrGroup" class="toLeft"></div>
			</td>
		</tr>





	<tr>
		<td></td>
		<td><input type="submit" value="SUBMIT" class="ui button green"></td>
	</tr>
	</table>
</form>
</div>


</div>

</section>



<script type="text/html" id="item-template">
<div id="item-__prefix__" class="toLeft">
	{{items_forms.empty_form }}
</div>
</script>






<script>
$(document).ready(function() {
    $('.add-item').click(function(ev) {
        ev.preventDefault();
        var count = $('#items-form-container').children().length;
        var tmplMarkup = $('#item-template').html();
        console.log(tmplMarkup);
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#items-form-container').append(compiledTmpl);

        // update form count
        $('#id_item_items-TOTAL_FORMS').attr('value', count+1);

        // some animate to scroll to view our new form
        $('html, body').animate({
                scrollTop: $("#add-item-button").position().top-200
            }, 800);


        $('.toLeft').find('select').addClass('form-control');
        $('.toLeft').children('input').addClass('form-control');

    });
});


             $(function(){
                   $('body').on('click','input:checkbox',function(){
                           $(this).parent('div').hide();
                   })
                   $('select').addClass('form-control');
               })


</script>

{% endblock %}

</body>
</html>