{% extends "teammate/index.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row" style="min-height:600px;background-color:white">
    <div class="" style="text-align:center;font-family: 'Fjalla One', sans-serif">

        <h1>ABOUT ME</h1>
        <h4>A little description for myself</h4>
        <i><p style="font-family: 'Open Sans Condensed', sans-serif;">I don't talk a lot. (reversed).I have no intention of talking in large crowds. <a><u><i class="edit icon"></i></u></a></p></i>

    </div> 
    <div class="" style="text-align:center;font-family: 'Fjalla One', sans-serif">
        <hr>
        <h1>Personality</h1>
        <div style="display:inline-block"><button class="red">GODLIKE</button></div>
        <div style="display:inline-block"><button class="red">NEVER GIVEUP</button></div>
        <div style="display:inline-block"><button class="red">BORN KILLER</button></div>
        <div style="display:inline-block"><button class="red">LEADERSHIP</button></div>
        <div style="display:inline-block"><button class="red">KIND</button></div>
        <div style="display:inline-block"><i class="edit icon"></i></div>

    </div> 

    <div class="" style="text-align:center;font-family: 'Fjalla One', sans-serif">
        <hr>
        <h1>OWN CHARACTER</h1>
        <div style="display:inline-block"><button>UNDEAD WARRIOR</button></div>
        <div style="display:inline-block"><button>HUMAN MAGES</button></div>
        <div style="display:inline-block"><i class="edit icon"></i></div>

    </div> 

 </div>
</div>


  {% endblock %}