{% extends "teammate/index.html" %}
{% load staticfiles %}

{% block content %}


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Tell more about you</h4>
      </div>
      <div class="modal-body">
        {{da}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="container">



  <div class="row" style="min-height:600px;background-color:white">
    <div class="" style="text-align:center;font-family: 'Fjalla One', sans-serif">

        <h1>ABOUT ME</h1>
        <h4>A little description for myself</h4>
        <i><p style="font-family: 'Open Sans Condensed', sans-serif;">I don't talk a lot. (reversed).I have no intention of talking in large crowds. <a><u><i id="editDesc" class="edit icon"  data-toggle="modal" data-target="#myModal"></i></u></a></p></i>

    </div> 
    <div class="" style="text-align:center;font-family: 'Fjalla One', sans-serif">
        <hr>
        <h1>Personality</h1>
        <div style="display:inline-block"><button class="red">GODLIKE</button></div>
        <div style="display:inline-block"><button class="red">NEVER GIVEUP</button></div>
        <div style="display:inline-block"><button class="red">BORN KILLER</button></div>
        <div style="display:inline-block"><button class="red">LEADERSHIP</button></div>
        <div style="display:inline-block"><button class="red">KIND</button></div>
        <div style="display:inline-block"><i class="edit icon"></i></div>

    </div> 

    <div class="" style="text-align:center;font-family: 'Fjalla One', sans-serif">
        <hr>
        <h1>OWN CHARACTER</h1>
        <div style="display:inline-block"><button>UNDEAD WARRIOR</button></div>
        <div style="display:inline-block"><button>HUMAN MAGES</button></div>
        <div style="display:inline-block"><i class="edit icon"></i></div>

    </div> 

 </div>
</div>
<script>


    $('#editDesc').click(function(){
        $('.small.modal')
          .modal('show')
        ;

    })
</script>

  {% endblock %}