{% extends "teammate/index.html" %}
{% load staticfiles %}

{% block content %}
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-md-8" style="background-color:white;min-height:450px;">
                      <div class="postinfotop">
                          <h2><i class="big circular user icon"></i> Register</h2>
                      </div>

                      <!-- acc section -->
                      <div class="accsection">
                  

                      <div class="ui form" style="padding:10px;">
                        <form method="POST" action="/register/">

                          <table class="tableX ui table segment">	
                          	{% csrf_token %}
                          	{{user_form.as_table}}
                          {{ profile_form.as_table }}
                          <tr>
                          	<td></td>
                          	<td>
                          		<input type="submit" class=" green button ui" value="SUBMIT">
                          </tr>
                          </table>
                        </form>
                      </div>
                       </div>  
   </div>
                        <div class="col-lg-4 col-md-4">

                            <!-- -->
                            <div class="sidebarblock">
                                <h3>Categories</h3>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <ul class="cats">
                                        <li><a href="#">Wildstar <span class="badge pull-right">1</span></a></li>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
{% endblock %}