{% extends "teammate/index.html" %}
{% load staticfiles %}
{% block content %}

              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-md-8" style="background-color:white;">
                      <div class="postinfotop">
                          <h2><i class="big circular user icon"></i> User Login</h2>
                      </div>

                      <!-- acc section -->
                      <div class="accsection">
                  
                            <div id="container" style="min-height:600px;">
<!-- 
                              <button class="btn btn-fb">Facebook Login</button> -->
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>


<div>
  {% if user.is_authenticated %}
   <span style="font-family: 'Fjalla One', sans-serif;"> {{user}} </span> <a href="/logout"><button type="button" class="btn btn-default navbar-btn">Sign out</button></a>
  {% endif %}
</div>
{% if not user.is_authenticated %}


                            <div class="userPanel">
                            <h1>Login</h1> 
                            <div style="color:#c5c5c5"><i> No Account ? please <a href="/register/">[register]</a></i></div>
                            <div style="color:#c5c5c5"><i> Forget Password ? please <a href="/register/">[get password]</a></i></div>
                            <div class="ui form">
                               
                                    <form id="login_form" method="post" action="/login/">
                                        {% csrf_token %}
                                         <div class="field">
                                        <label for="id_username">Username: </label>
                                            <input type="text" name="username" value="" size="50" />
                                        </div>
                                        <div class="field">
                                                    
                                        <label for="id_username">Password: </label>
                                            <input type="password" name="password" value="" size="50" />
                                        </div>
                                
                                        <br />
                                        <input type="hidden" name="next" value="{{next}}" />
                                        <input type="submit" class="ui button green small" value="submit" />
                                    </form>
                                </div>
                            </div>


{% endif %}
                        </div>

                </div>

                       <!-- end of container div -->

        </div>

                     <div class="col-lg-4 col-md-4">

                            <!-- -->
                            <div class="sidebarblock">
                                <h3>Categories</h3>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <ul class="cats">
                                        <li><a href="#">Wildstar <span class="badge pull-right">1</span></a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                     </div>
               </div>       
           


<script>

</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->



<div id="status">
</div>
{% endblock %}