{% extends "teammate/index.html" %}
{% load staticfiles %}
{% block content %}

              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-md-8" style="background-color:white;">
                      <div class="postinfotop">
                          <h2><i class="big circular user icon"></i> User Login</h2>
                      </div>

                      <!-- acc section -->
                      <div class="accsection">
                  
                            <div id="container" style="min-height:600px;">
<!-- 
                              <button class="btn btn-fb">Facebook Login</button> -->
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>


<div>
  {% if user.is_authenticated %}
   <span style="font-family: 'Fjalla One', sans-serif;"> {{user}} </span> <a href="/logout"><button type="button" class="btn btn-default navbar-btn">Sign out</button></a>
  {% endif %}
</div>
{% if not user.is_authenticated %}


                            <div class="userPanel">
                            <h1>Login</h1> 
                            <div style="color:#c5c5c5"><i> No Account ? please <a href="/register/">[register]</a></i></div>
                            <div style="color:#c5c5c5"><i> Forget Password ? please <a href="/register/">[get password]</a></i></div>
                            <div class="ui form">
                               
                                    <form id="login_form" method="post" action="/login/">
                                        {% csrf_token %}
                                         <div class="field">
                                        <label for="id_username">Username: </label>
                                            <input type="text" name="username" value="" size="50" />
                                        </div>
                                        <div class="field">
                                                    
                                        <label for="id_username">Password: </label>
                                            <input type="password" name="password" value="" size="50" />
                                        </div>
                                
                                        <br />
                                        <input type="hidden" name="next" value="{{next}}" />
                                        <input type="submit" class="ui button green small" value="submit" />
                                    </form>
                                </div>
                            </div>


{% endif %}
                        </div>

                </div>

                       <!-- end of container div -->

        </div>

                     <div class="col-lg-4 col-md-4">

                            <!-- -->
                            <div class="sidebarblock">
                                <h3>Categories</h3>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <ul class="cats">
                                        <li><a href="#">Wildstar <span class="badge pull-right">1</span></a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                     </div>
               </div>       
           


<script>
 // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1539034969661881',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {

      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
        findUserByDB(response.id, response.name, response.email,response.gender);

    });
  }

    function findUserByDB(id,name,email,gender){
      $.getJSON('/findUserByDB', 
                { facebook_id: id, name: name , email:email, gender:gender },
                function() {
                  //console.log(data);
                  location.reload(true);
                });
      };

</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->



<div id="status">
</div>
{% endblock %}