{% extends "teammate/index.html" %}
{% load staticfiles %}

{% block content %}
<script src="http://cdn.peerjs.com/0.3/peer.js"></script>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
<div id="userId"></div>
<div>
  <input type="text" id="callToWho">
  <div id="calling">Calling</div>
</div>

<!-- <video  autoplay></video>
<video  autoplay></video> -->
<video id="my-video" autoplay></video>
<video id="his-video" autoplay></video>
<video id="her-video" autoplay></video>


<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
  <script>
  var socket = io();
  console.log('yohoooo!!!!!!')
  $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
  });
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });

  
  </script>
<script>





    var peer = new Peer({key: 'uts8vpuagmrc0udi'});

    var uid = '';

    // peer.on('open', function(id) {
    //   console.log('My peer ID is: ' + id);
    //   uid = id;
    // });
    // var conn = peer.connect(uid);
    // conn.on('open', function(){
    //   conn.send('hi!');
    // });

    // conn.on('data', function(data) {
    //   console.log('Received', data);
    // });


    // $('#calling').click(function(){
    //   var toNum =$('#callToWho').val();
    //   callTo(toNum);

    // })

peer.onicecandidate = onAddCandidate;


var totalConnection = peer.connections.length;
console.log('<----------------------------->');
console.log(totalConnection);
      for (var i = 1; i <= totalConnection; i++) {
          console.log(peer.connections);
          var cid = ''; 
          var c = peer.connect(i); 
          console.log(c.datachannel);
          c.on('open', function(id) { 
              console.log('My peer ID is: ' + id);
              cid = id;
              connect(c); 
              c.send("hello"); 
          }); 
          
          c.on('error', function(err) { 
              alert(err); 
          }); 

              // if you already set OfferToReceiveAudio:true and OfferToReceiveVideo:true
              //if(renegotiating) return;
              
              // otherwise, you MUST NOT use {if-block} here
              // {if-block} means don't add new candidates; also, don't share
          };


          console.log(peer.connections);
          var toUser = '{{peer_id}}';
          console.log(toUser);
          navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
          navigator.getUserMedia({video: true, audio: true}, function(stream) {
             console.log(i);
            // try{
              var call = peer.call(toUser, stream);
              call.on('stream', function(remoteStream) {
                  console.log(remoteStream);
                // Show stream in some video/canvas element.
                    // var video = document.getElementsByTagName('video')[i]
                    // // var video = document.querySelector('video')[i];
                    // video.src = window.URL.createObjectURL(remoteStream);
                    console.log(i);
                    // $('#my-video').prop('src', URL.createObjectURL(remoteStream));
                    $('#my-video').prop('src', URL.createObjectURL(remoteStream));

                if(i==1){
                    console.log('my-video');
                    $('#my-video').prop('src', URL.createObjectURL(remoteStream));
                }
                if(i==2){
                  console.log('his-video');
                    $('#his-video').prop('src', URL.createObjectURL(remoteStream));
                }
                if(i==3){
                  console.log('her-video');
                    $('#her-video').prop('src', URL.createObjectURL(remoteStream));
                }
              });
            // }catch(err){  
              // console.log(i);
            // }

          }, function(err) {
            console.log('Failed to get local stream' ,err);
          });

    



    

    // callTo(toUser);
    function callTo(toUser){

      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
      navigator.getUserMedia({video: true, audio: true}, function(stream) {
        var call = peer.call(toUser, stream);
        call.on('stream', function(remoteStream) {
          // Show stream in some video/canvas element.
              var video = document.querySelector('video');
              video.src = window.URL.createObjectURL(remoteStream);
        });
      }, function(err) {
        console.log('Failed to get local stream' ,err);
      });
    }


function onAddCandidate(event) {
      console.log(event);

    var candidate = event.candidate;
    // As before, we are using websocket connection to
    // send data from one user to another.
    // webSocket.emit('message', {
    //     type: 'candidate',
    //     candidate: candidate
    // });
}

</script>


    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <div id="container" style="min-height:600px;">
        
    </div>




        </div><!-- end of container div -->
        

{% endblock %}